backcall==0.1.0
boto==2.49.0
coloredlogs==10.0
decorator==4.4.1
future==0.18.2
humanfriendly==4.18
ipython==7.10.1
ipython-genutils==0.2.0
jedi==0.15.1
parso==0.5.1
pefile==2019.4.18
pexpect==4.7.0
pickleshare==0.7.5
ply==3.11
prompt-toolkit==3.0.2
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.5.2
six==1.13.0
traitlets==4.3.3
wcwidth==0.1.7
z3==0.2.0
z3-solver==4.8.7.0
